{% extends "base.html" %}
{% block content %}

<div>
   <div class="navSide_L">
      <span>
         <a href="/index">Home</a> / <a href="/blog">Blogs</a>
      </span>
   </div>
   <div class="navSide_R">
      {% if sessionCheck == "True" %}
      <a class="rightNav2L" href="/logout">Logout</a>
      {% else %}
      <a class="rightNav2L" href="/login">Login</a>
      {% endif %}
   </div>
</div>


<h1>{{oneUser.username}}'s Blogs</h1>

{% for blog in blogData: %}
<div class="blogContainer">
   <h2>{{blog.title}}</h1>
   <p>{{blog.body}}</p>
   <p>Posted by: {{oneUser.username}}</p>
</div>
{% endfor %}

{% endblock %}
